@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

.container{
  height:100vh;
  width:100%;
  background:linear-gradient(to right,#93c572 70%,#C8EBB1 30%);
  position:bottom;
  overflow:hidden;
}
.wave{
  position: absolute;
  top: 0;
  right: 30%;
}
nav{
  width:90%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
nav ul{
  display: flex;
  list-style-type: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  text-decoration: solid;
  padding: 0.3rem 1.3rem;
  font-size: 17px;
  font-weight: bolder;
  color: #494949;
  position: relative;
  z-index: 1;
  


}
nav ul li a::after{
  content: "";
  width: 0%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #c8EBB1;
  z-index: -1;
  transition:  0.5s;
}
nav ul li a:hover:after{
  width: 100%;
}
.main-content{
  width:60%;
  padding-top: 100px;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content:space-around ;
}

.image-pista img{
  width:100%;

}
.main-content h1 {
  font-size: 50px;
  letter-spacing:0px;
  color:#494234;

}
.main-content p{
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 3px;
  font-style: normal;
  font-size: medium;
  color: #494234;
  font-weight: bold;
 
}
.main-content button{
  margin-top: 2rem;
  outline: #93c572;
  border: #494949;
  font-size: 20px;
  padding:0.5rem 2.5rem 0.5rem 1rem;
  border-radius: 0% 50% 50% 0%;
  background-color: #494949;
  color: beige;
  cursor: pointer;


  
}
.swiper{
  width:20rem;

}
.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}
.right{
  position:fixed;
  right: 6%;
  bottom: 20%;
  align-items: center;
  left: 68%;

  
}
.box{
  display: flex;
  align-items: center;
  font-style: oblique;
  font-size: large;
  bottom: 10%;
  justify-content: center;
}
.image{
  margin-top: 2rem;
  width:100px;
  height:80px;
  border-radius: 70%;
  box-shadow: -5px 5px 17px rgba(0, 0, 0, 0.3);
  display:flex;
  align-items: center;
  justify-content: center;
  


}
.image:hover{
  background-color: rgba(80,66,80,60);
  transition: 0.5s;
}
.inner-box{
  margin: 1.5rem 0 1rem 0;
  font-weight: bold;
}
.inner-box p{
  font-size: medium;
}
.rightone{
  position:fixed;
  right: 6%;
  bottom: 40%;
  align-items: center;
  left: 70%;

  
}
.boxone{
  display: flex;
  align-items: center;
  font-style: oblique;
  font-size: large;
  bottom: 10%;
  justify-content: center;
}
.imageone{
  margin-top: 2rem;
  width:100px;
  height:80px;
  border-radius: 70%;
  box-shadow: -5px 5px 17px rgba(0, 0, 0, 0.3);
  display:flex;
  align-items: center;
  justify-content: center;
  


}
.imageone:hover{
  background-color: rgba(80,66,80,60);
  transition: 0.5s;
}
.inner-boxone{
  margin: 1.5rem 0 1rem 0;
  font-weight: bold;
}
.inner-boxone p{
  font-size: medium;
}
.righttwo{
  position:fixed;
  right: 6%;
  bottom: 60%;
  align-items: center;
  left: 65%;

  
}
.boxtwo{
  display: flex;
  align-items: center;
  font-style: oblique;
  font-size: large;
  bottom: 10%;
  justify-content: center;
}
.imagetwo{
  margin-top: 2rem;
  width:100px;
  height:80px;
  border-radius: 70%;
  box-shadow: -5px 5px 17px rgba(0, 0, 0, 0.3);
  display:flex;
  align-items: center;
  justify-content: center;
  


}
.imagetwo:hover{
  background-color: rgba(80,66,80,60);
  transition: 0.5s;
}
.inner-boxtwo{
  margin: 1.5rem 0 1rem 0;
  font-weight: bold;
}
.inner-boxtwo p{
  font-size: medium;
}
.social-links{
  position:absolute;
  right: 5%;
  bottom: 5%;
}
.social-links::before{
  content: "";
  width: 80%;
  height: 3px;
  position: absolute;
  top:42%;
  left:-150px;
  background-color: #494234;
}
.social-links i{
  margin-left: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #93c572;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.social-links i:hover{
  transform: translateY(-5px);
}



